run = "hugo && miniserve public --index index.html"
entrypoint = "content/posts/hello.md"

[nix]
channel = "stable-24_05"

[deployment]
build = ["bash", "build.sh"]
deploymentTarget = "autoscale"
publicDir = "public"
run = ["~/.local/bin/hugo", "server", "--bind", "0.0.0.0", "--port", "5000", "--baseURL", "/", "--appendPort=false"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32891
externalPort = 6800

[[ports]]
localPort = 33447
externalPort = 3003

[[ports]]
localPort = 34109
externalPort = 4200

[[ports]]
localPort = 35609
externalPort = 5000

[[ports]]
localPort = 39335
externalPort = 3002

[[ports]]
localPort = 43345
externalPort = 5173

[[ports]]
localPort = 43583
externalPort = 8000

[[ports]]
localPort = 45759
externalPort = 6000

[[ports]]
localPort = 46127
externalPort = 3001

[[ports]]
localPort = 46855
externalPort = 3000

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Hugo Server"

[[workflows.workflow]]
name = "Hugo Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "~/.local/bin/hugo server --bind 0.0.0.0 --port 5000 --baseURL / --appendPort=false"
waitForPort = 5000
